@model IEnumerable<CarParkingSystem.Models.FaultReport>

@{
    ViewData["Title"] = "Fault Reports";
}

<h2>Fault Reports</h2>

<table class="table">
    <thead>
        <tr>
            <th>Location</th>
            <th>Description</th>
            <th>Date Reported</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            @if (report.Status == "Completed") // Check if status is not "Completed"
            {
                <tr>
                    <td>@report.Location</td>
                    <td>@report.Description</td>
                    <td>@report.DateTime</td>
                    <td>@report.Status</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@report.Id" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
