@model List<Shift>

<h2>Shifts List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Break Start</th>
            <th>Break End</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shift in Model)
        {
            <tr>
                <td>@shift.Name</td>
                <td>@shift.inTime</td>
                <td>@shift.outTime</td>
                <td>@shift.inBreak</td>
                <td>@shift.outBreak</td>
                <td>
                    <form method="post" asp-action="Delete" asp-route-id="@shift.Id" onsubmit="return confirm('Are you sure you want to delete this shift?');">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create Shift", "Create", "AdminShifts", null, new { @class = "btn btn-primary" })
